:root {
    --colgradient1: #a32ae0;
    --colgradient2: #376072;
}

#outsideNavCentering {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90%;
}

#landingPageButtonBox {
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 20px;
    min-width: 100%;
    margin-top: 50px;
    padding-bottom: 30px;
    padding-top: 30px;
    flex-direction: row;
    background-image: linear-gradient(var(--colgradient1), var(--colgradient2));
}


.column {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.row {
    display: flex;
    flex-direction: row;
}

#cookie-banner {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #222;
    color: white;
    padding: 15px;
    text-align: center;
    z-index: 1000;
}

#return-message {
    font-size: 18px;
    color: var(--white);
    margin-left: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.comment {
    color: var(--white);
}

.meta {
    font-size: 0.9em;
    color: var(--white);
}

input[type="text"] {
    padding: 8px;
    margin-top: 10px;
    border: var(--white) 2px solid;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    width: 180px;
}

input[type="textarea"] {
    padding: 8px;
    border: var(--white) 2px solid;
}

input[type="submit"] {
    padding: 10px 20px;
    background-color: var(--contrast3);
    color: var(--white);
    border: 2px solid var(--white);
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: var(--white);
    color: var(--contrast3);
    border: 2px solid var(--contrast3);
}

.hero-main {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #75499f;
    background-image: url("../media/heroimage.jpg"), url("../media/heroimage_low.jpg");
    background-position: center, center;
    background-size: cover, cover;
    height: max(31vh, 250px);
    width: 100%;
}

.hero-main h1 {
    font-size: calc(1rem + 4vw);
    text-align: center;
    letter-spacing: 20px;
}

.herotextcontainer {
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    transition: backdrop-filter, cubic-bezier(0.175, 0.885, 0.32, 1.275), 0.4s;
}

.herotextcontainer:hover {
    backdrop-filter: blur(10px);
}

.flex-container {
    display: flex;
    flex-direction: row;
}

.flex-info {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 50vw;
    margin: 0;
    background-image: linear-gradient(151deg, var(--contrast3), var(--accentsky));
    padding: 1.5rem 6vw;
    background-color: var(--contrast3);
    color: var(--colnav);
}

.flex-info h2 {
    margin-bottom: 0;
    font-weight: 900;
    letter-spacing: 0em;
}

.flex-info p {
    font-size: 1.3rem;
    font-family: "Kumbh Sans", sans-serif;
}

.flex-image {
    width: 50vw;
    background-position: center;
    background-size: cover;
    font-family: "Kumbh Sans", sans-serif;
    color: var(--colnav);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 50px;
    font-weight: 650;
}

#landing-image {
    background-image: url(../media/clouds-purple.jpg);
}

.text-section {
    min-width: 250px;
}

.section-dark {
    width: 100%;
    height: max(400px, auto);
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.section-light {
    background-color: var(--accentsky);
}

.section-dark {
    background-color: var(--colnav);
}

.logo {
    height: 250px;
    padding: 30px 30px;
}

.button-large {
    background-color: var(--contrast3);
    border: 4px solid var(--white);
    border-radius: 2px;
    font-family: "Kumbh Sans", sans-serif;
    font-weight: 900;
    font-size: 1.3rem;
    color: var(--white);
    transition: background-color cubic-bezier(0.075, 0.82, 0.165, 1) 0.25s,
        color cubic-bezier(0.075, 0.82, 0.165, 1) 0.25s,
        border cubic-bezier(0.075, 0.82, 0.165, 1) 0.25s;
    cursor: pointer;
    padding: 0.9rem 2.9rem;
    text-decoration: none;
}

.button-large:hover {
    background-color: var(--white);
    color: var(--contrast3);
    border: 4px solid var(--contrast3);
}

@media (max-width: 850px) {
    .flex-container {
        flex-direction: column;
    }

    .flex-info,
    .flex-image {
        width: 100vw;
    }

    .flex-image {
        height: max(200px, auto);
    }
}