body {
    background-color: mistyrose;
}

h1 {
    color: darkslategray;
    position: absolute;
    transform: translate(-50%, 0);
    top: 20vh;
    left: 50vw;
    font-family: 'Arial', sans-serif;
}

#cube-front {
    background-color: red;
    height:  50px;
    width: 50px;  
    position: absolute;
    top: 0px;
    left: 0px;
    transform: translateZ(25px);
}

#cube-back {
    background-color: blue;
    height:  50px;
    width: 50px;
    position: absolute;
    top: 0px;
    left: 0px;
    transform: translateZ(-25px);
}

#cube-left {
    background-color: green;
    height: 50px;
    width: 50px;
    position: absolute;
    top: 0px;
    left: -25px;
    transform: rotateY(90deg);
}

#cube-right {
    background-color: yellow;
    height: 50px;
    width: 50px;
    position: absolute;
    top: 0px;
    left: 25px;
    transform: rotateY(-90deg);
}

#cube-top {
    background-color: purple;
    height: 50px;
    width: 50px;
    position: absolute;
    top: -25px;
    left: 0px;
    transform: rotateX(90deg);
}

#cube-bottom {
    background-color: orange;
    height: 50px;
    width: 50px;
    position: absolute;
    top: 25px;
    left: 0px;
    transform: rotateX(-90deg);
}

#container {
    position: absolute;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
}

.cube {
    position: relative;
    width: 50px;
    height: 50px;
    transform-style: preserve-3d;
    animation: rotateCube 5s infinite linear;
}

@keyframes rotateCube {
    from {
        transform: rotate3d(0, 0, 0, 0deg);
    }
    to {
        transform: rotate3d(1, 1, 1, 360deg);
    }
}
    